

table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 100%;
}


table th {
    border: 2px solid black;
    padding: 8px;

}

table td {
    border: 2px solid black;
    padding: 8px;

}

.hat-row {
    background-color: red;
    width: 100%;
}

.delete-btn {
    border: none;
}
